<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/png" th:href="@{/dist/img/tra.png}">
        <title>TRA | Admin</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/dist/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet"}>

        <!-- Custom styles for this page -->
        <link th:href="@{/dist/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar --------------------------------------------------------------------------------------------------------------------------------------------->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-plane"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">ADMIN<sup></sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Tables -->
                <li class="nav-item active">
                    <a class="nav-link" href="/admindata">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Data</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar ------------------------------------------------------------------------------------------------------------------------------------>

            <!-- Content Wrapper -->
            <div id="content-wrapper" c lass="d-flex flex-column">

                <!-- Main Content -------------------------------------------------------------------------------------------------------------------------------------->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar ---------------------------------------------------------------------------------------------------------------------------->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts ------------------------------------------------------------------------------------------------------------------------>

                            <!-- Nav Item - Messages ---------------------------------------------------------------------------------------------------------------------->


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information ------------------------------------------------------------------------------------------------------------->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"  th:text="${email}"></span>
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                            <!-- End User Information ------------------------------------------------------------------------------------------------------------------------------------>
                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content isi Konten ------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-folder-plus fa-sm text-white-50"></i> Add Employee </a>
                        </div>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Data Employee</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr align="center">
                                                <th>No</th>
                                                <th>NIK</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th hidden>Password</th>
                                                <th>Gender</th>
                                                <th>Status</th>
                                                <th>Role</th>
                                                <th hidden="">Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="data,no : ${employee}">
                                                <td th:text="${no.count}" align="center"></td>
                                                <td id="id" th:text="${data.id}" align="center"></td>
                                                <td id="name" th:text="${data.name}"></td>
                                                <td id="email" th:text="${data.email}"></td>
                                                <td id="password" hidden th:text="${data.password}"></td>
                                                <td id="gender" th:text="${data.gender}"></td>
                                                <td id="status" th:text="${data.status}"></td>
                                                <td th:text="${data.role.role}"></td>
                                                <td id="role" hidden th:text="${data.role.id}"></td>
                                                <td align="center">
                                                    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#myEditModal">
                                                        <i class="fas fa-user-edit fa-sm fa-fw mr-2 text-white"></i>
                                                    </a>
                                                    <a th:href="@{'/delete/' + ${data.id}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                                                        <i class="fas fa-trash-alt fa-sm fa-fw mr-2 text-white"></i>
                                                        
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /container-fluid Akhir KONTEN-------------------------------------------------------------------------------------------------------------------------------------------->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <!-- Modal Insert-->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Add Data Employee</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/save}" method="POST" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" name="id" class="form-control" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" name="name" class="form-control" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="text" name="email" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Password</label>
                                <div class="col-sm-12">
                                    <input type="text" name="password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Status</label>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline3" name="status" value="Kawin" checked>
                                            <label class="custom-control-label" for="defaultInline3">Kawin</label>
                                        </div>
                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline4" name="status" value="Belum Kawin">
                                            <label class="custom-control-label" for="defaultInline4">Belum Kawin</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Jenis Kelamain</label>
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="gender1" name="gender" value="Pria" checked>
                                            <label class="custom-control-label" for="gender1">Pria</label>
                                        </div>
                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="gender2" name="gender" value="Wanita">
                                            <label class="custom-control-label" for="gender2">Wanita</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Role</label>
                                <div class="col-sm-12">
                                    <select name="role" class="form-control">
                                        <option>--Pilih--</option>
                                        <option th:each="role : ${role}" th:value="${role.id}" th:text="${role.role}"></option>
                                    </select>
                                </div>
                            </div>
                            <!-- Tombol simpan -->
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal Edit-->
        <div class="modal fade" id="myEditModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Edit Data Employee</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/update}"  method="POST" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" id="modalid" name="id" class="form-control" value="" required="required"readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" id="modalname" name="name" class="form-control" value="" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="email" id="modalemail" name="email" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Password</label>
                                <div class="col-sm-12">
                                    <input type="text" id="modalpassword" name="password" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Status</label>
                                <!-- Default inline 1-->
                                <div class="col-sm-12">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline3" name="status" value="Kawin" checked>
                                            <label class="custom-control-label" for="defaultInline3">Kawin</label>
                                        </div>
                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="defaultInline4" name="status" value="Belum Kawin">
                                            <label class="custom-control-label" for="defaultInline4">Belum Kawin</label>
                                        </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Jenis Kelamin</label>
                                <div class="col-sm-12">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="gender1" name="gender" value="Pria" checked>
                                            <label class="custom-control-label" for="gender1">Pria</label>
                                        </div>
                                        <!-- Default inline 2-->
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" id="gender2" name="gender" value="Wanita">
                                            <label class="custom-control-label" for="gender2">Wanita</label>
                                        </div>
                                    </div>
                                <!-- Default inline 1-->
                                <!--                                <div th:each="data : ${employee}" th:if="${data.gender == 'Pria'}" class="col-sm-12" >
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="modalgender" class="custom-control-input" name="gender" value="" th:checked="{true}">
                                                                        <label class="custom-control-label" for="gender1">Pria</label>
                                                                    </div>
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="modalgender" class="custom-control-input" name="gender" value="">
                                                                        <label class="custom-control-label" for="gender2">Wanita</label>
                                                                    </div>
                                                                </div>-->
                                <!--                     <div th:if="${data.gender == 'Wanita'}" class="col-sm-12" >
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="modalgender" class="custom-control-input" name="gender" th:value="${status}">
                                                                        <label class="custom-control-label" for="gender1">Pria</label>
                                                                    </div>
                                                                     Default inline 2
                                                                    <div class="custom-control custom-radio custom-control-inline">
                                                                        <input type="radio" id="modalgender" class="custom-control-input" name="gender" th:value="${status}" th:checked="${true}">
                                                                        <label class="custom-control-label" for="gender2">Wanita</label>
                                                                    </div>
                                                                </div>-->
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Role</label>
                                <div class="col-sm-12">
                                    <select id="modalrole" name="role" class="form-control">
                                        <option th:each="role : ${role}" th:value="${role.id}" th:text="${role.role}"></option>
                                    </select>
                                </div>
                            </div>
                            <!-- Tombol simpan -->
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form th:action="@{/logout}" method="POST">
                        <input type="submit" class=" btn btn-primary" value="Logout"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/dist/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/dist/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/dist/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/dist/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/dist/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/dist/js/demo/datatables-demo.js}"></script>

        <script>
            $(document).ready(function () {
                $('#myEditModal').on('show.bs.modal', function (e) {
                    var _button = $(e.relatedTarget);
                    var _row = _button.parents("tr");
                    
                    var _id = _row.find("#id").text();
                    var _name = _row.find("#name").text();
                    var _email = _row.find("#email").text();
                    var _password = _row.find("#password").text();
                    var _gender = _row.find("#gender").text();
                    var _status = _row.find("#status").text();
                    var _role = _row.find("#role").text();
//                    alert(_id);
                    $(this).find('#modalid').val(_id);
                    $(this).find('#modalname').val(_name);
                    $(this).find('#modalemail').val(_email);
                    $(this).find('#modalpassword').val(_password);
                    $(this).find('#modalgender').val(_gender);
                    $(this).find('#modalstatus').val(_status);
                    $(this).find('#modalrole').val(_role);
                });
            });
        </script>
        
        <script>
            $(document).ready(function () {
                $('.editModal').on('click', function () {
                    var row = $(this).closest('tr');
                    var a = row.find('td:eq(1)').text();
                    var b = row.find('td:eq(2)').text();
                    var c = row.find('td:eq(3)').text();
                    var d = row.find('td:eq(4)').text();
                    var e = row.find('td:eq(5)').text();
                    var f = row.find('td:eq(6)').text();
                    var g = row.find('td:eq(7)').text();
                    var h = row.find('td:eq(8)').text();
                    //                    alert(a);
                    $('#myEditModal').modal();
                    $('#modalid').val(a);
                    $('#modalname').val(b);
                    $('#modalemail').val(c);
                    $('#modalpassword').val(d);
                    $('#modalgender').val(e);
                    $('#modalstatus').val(f);
                    $('#modalrole').val(h);
                });
            });
        </script>

    </body>

</html>