<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/png" th:href="@{/dist/img/tra.png}">
        <title>TRA | HR</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/dist/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet"}>

        <!-- Custom styles for this page -->
        <link th:href="@{/dist/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar --------------------------------------------------------------------------------------------------------------------------------------------->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/hr">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-plane"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3" >HR<sup></sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/hr">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Tables -->
                <li class="nav-item active">
                    <a class="nav-link" href="/hrrequest">
                        <i class="fas fa-taxi"></i>
                        <span>Request</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hrlaporan">
                        <i class="fas fa-file-alt"></i>
                        <span>Laporan</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar ------------------------------------------------------------------------------------------------------------------------------------>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -------------------------------------------------------------------------------------------------------------------------------------->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar ---------------------------------------------------------------------------------------------------------------------------->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts ------------------------------------------------------------------------------------------------------------------------>

                            <!-- Nav Item - Messages ---------------------------------------------------------------------------------------------------------------------->


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information ------------------------------------------------------------------------------------------------------------->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${name}"></span>
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                            <!-- End User Information ------------------------------------------------------------------------------------------------------------------------------------>
                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content isi Konten ------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="container-fluid">

                        <!-- Page Heading -->

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Data Permintaan Karyawan</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr align="center">
                                                <th>No</th>
                                                <th hidden></th>
                                                <th>Alamat Penugasan</th>
                                                <th>Tipe Penugasan</th>
                                                <th>Lama Penugasan</th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th hidden></th>
                                                <th>Approval Manager</th>
                                                <th>Approval HR</th>
                                                <th>Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr align="center" th:each="data,no : ${tra}">
                                                <td th:text="${no.count}"></td>
                                                <td hidden th:text="${data.employee.id}"></td>
                                                <td th:text="${data.assignmentAddress}"></td>
                                                <td th:text="${data.requestType}"></td>
                                                <td th:text="${data.travelTime}"></td>
                                                <td hidden th:text="${data.departureDate}"></td>
                                                <td hidden th:text="${data.departureTime}"></td>
                                                <td hidden th:text="${data.departureTransportation}"></td>
                                                <td hidden th:text="${data.departureCost}"></td>
                                                <td hidden th:text="${data.stay}"></td>
                                                <td hidden th:text="${data.stayCost}"></td>
                                                <td hidden th:text="${data.returnDate}"></td>
                                                <td hidden th:text="${data.returnTime}"></td>
                                                <td hidden th:text="${data.returnTransportation}"></td>
                                                <td hidden th:text="${data.returnCost}"></td>
                                                <td th:text="${data.managerApproval}"></td>
                                                <td th:text="${data.hrApproval}"></td>
                                                <td hidden th:text="${data.id}"></td>
                                                <td>
                                                    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm detailModal" href="#" data-toggle="modal" data-target="#myDetailModal">
                                                        <i class="fas fa-laptop fa-sm fa-fw mr-2 text-gray-400"></i>
                                                        Detail
                                                    </a>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /container-fluid Akhir KONTEN-------------------------------------------------------------------------------------------------------------------------------------------->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Modal Edit-->
        <div class="modal fade" id="myDetailModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>DETAIL REQUEST KARYAWAN</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/apprHr}" method="POST" class="form-horizontal" role="form">
                            <center><label><b>Detail Penugasan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input id="modalidemployee" type="text" name="idEmployee" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Alamat Penugasan</label>
                                <div class="col-sm-12">
                                    <input id="modaladdress" type="text" name="address" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tipe Penugasan</label>
                                <div class="col-sm-12">
                                    <input id="modaltype" type="text" name="type" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Lama Penugasan</label>
                                <div class="col-sm-12">
                                    <input id="modaltravelTime" type="text" name="travelTime" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <!-- Line--->
                            <hr color="#ff0000">
                            <center><label><b>Keberangkatan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tanggal Berangkat</label>
                                <div class="col-sm-12">
                                    <input id="modaldeptDate" type="text" name="deptDate" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Waktu Berangkat</label>
                                <div class="col-sm-12">
                                    <input id="modaldeptTime" type="text" name="deptTime" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Transportasi</label>
                                <div class="col-sm-12">
                                    <input id="modaldeptTrans" type="text" name="deptTrans" class="form-control" value=""readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Berangkat</label>
                                <div class="col-sm-12">
                                    <input id="modaldeptCost" type="text" name="deptCost" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <!-- Line--->
                            <hr color="#ff0000">
                            <center><label><b>Tempat Tinggal</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tempat Tinggal</label>
                                <div class="col-sm-12">
                                    <input id="modalliving" type="text" name="living" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Tinggal</label>
                                <div class="col-sm-12">
                                    <input id="modallivingCost" type="text" name="livingCost" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <hr color="#ff0000">
                            <center><label><b>Kepulangan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tanggal Pulang</label>
                                <div class="col-sm-12">
                                    <input id="modalretDate" type="text" name="retDate" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Waktu Pulang</label>
                                <div class="col-sm-12">
                                    <input id="modalretTime" type="text" name="retTime" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Transportasi</label>
                                <div class="col-sm-12">
                                    <input id="modalretTrans" type="text" name="retTrans" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Pulang</label>
                                <div class="col-sm-12">
                                    <input id="modalretCost" type="text" name="retCost" class="form-control" value="" readonly="">
                                    <input hidden id="traId" type="text" name="traId" class="form-control" value="" readonly="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label hidden="" for="input" class="col-sm control-label">appManager</label>
                                <div class="col-sm-12">
                                    <input hidden="" id="modalappManager" type="text" name="appManager" class="form-control" value="" >
                                </div>
                            </div>
                            <div class="form-group">
                            <button type="submit" name="status" value="Diterima" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" >
                                <i class="far fa-check-square fa-sm fa-fw mr-2 text-gray-400"></i>
                                Diterima
                            </button> 
                            <button type="submit" name="status" value="Ditolak" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#">
                                <i class="far fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>
                                Ditolak
                            </button>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
            </div>
            </div>


        </div>
    </div>
</div>


<!-- Modal Edit-->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color:#6495ED"><b>Edit Data Karyawan</b></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/save}" method="POST" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">NIK</label>
                        <div class="col-sm-12">
                            <input type="text" name="#" class="form-control" value="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">Nama</label>
                        <div class="col-sm-12">
                            <input type="text" name="#" class="form-control" value="" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">Email</label>
                        <div class="col-sm-12">
                            <input type="text" name="#" class="form-control" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">Staus</label>
                        <!-- Default inline 1-->
                        <div class="col-sm-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                <label class="custom-control-label" for="defaultInline3">Nikah</label>
                            </div>
                            <!-- Default inline 2-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
                                <label class="custom-control-label" for="defaultInline4">Belum Nikah</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">Jenis Kelamin</label>
                        <!-- Default inline 1-->
                        <div class="col-sm-12">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="gender1" name="inlineDefaultRadio">
                                <label class="custom-control-label" for="gender1">Perempuan</label>
                            </div>
                            <!-- Default inline 2-->
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="gender2" name="inlineDefaultRadio">
                                <label class="custom-control-label" for="gender2">Laki-laki</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input" class="col-sm control-label">Role</label>
                        <div class="col-sm-12">
                            <select name="idKelas" class="form-control">
                                <!--                                        <option th:each="kelas: ${kelas}"th:value="${kelas.idKelas}" th:text="${kelas.namaKelas}"></option> -->
                                <!--                                        <option th:each="kelas : ${kelas}" th:value="${kelas.idKelas}" th:text="${kelas.namaKelas}"></option>-->
                            </select>
                        </div>
                    </div>
                    <!-- Tombol simpan -->
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Simpan</button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
               <form th:action="@{/logout}" method="POST">
                <input type="submit" class=" btn btn-primary" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/dist/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/dist/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/dist/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/dist/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/dist/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/dist/js/demo/datatables-demo.js}"></script>

<script>
    $(document).ready(function () {
        $('.detailModal').on('click', function () {
            var row = $(this).closest('tr');
            var a = row.find('td:eq(1)').text();
            var b = row.find('td:eq(2)').text();
            var c = row.find('td:eq(3)').text();
            var d = row.find('td:eq(4)').text();
            var e = row.find('td:eq(5)').text();
            var f = row.find('td:eq(6)').text();
            var g = row.find('td:eq(7)').text();
            var h = row.find('td:eq(8)').text();
            var i = row.find('td:eq(9)').text();
            var j = row.find('td:eq(10)').text();
            var k = row.find('td:eq(11)').text();
            var l = row.find('td:eq(12)').text();
            var m = row.find('td:eq(13)').text();
            var n = row.find('td:eq(14)').text();
            var o = row.find('td:eq(17)').text();
            var p = row.find('td:eq(15)').text();
            //                    alert(a);
            $('#MyDetailModal').modal();
            $('#modalidemployee').val(a);
            $('#modaladdress').val(b);
            $('#modaltype').val(c);
            $('#modaltravelTime').val(d);
            $('#modaldeptDate').val(e);
            $('#modaldeptTime').val(f);
            $('#modaldeptTrans').val(g);
            $('#modaldeptCost').val(h);
            $('#modalliving').val(i);
            $('#modallivingCost').val(j);
            $('#modalretDate').val(k);
            $('#modalretTime').val(l);
            $('#modalretTrans').val(m);
            $('#modalretCost').val(n);
            $('#traId').val(o);
            $('#modalappManager').val(p);
        });
    });
</script>
</body>

</html>
