<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" th:href="@{/dist/img/tra.png}">
  <title>TRA | Manager</title>

  <!-- Custom fonts for this template-->
  <link th:href="@{/dist/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet"}>
  
  <!-- Custom styles for this page -->
  <link th:href="@{/dist/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

<!-- Sidebar --------------------------------------------------------------------------------------------------------------------------------------------->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/manager">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-plane"></i>
        </div>
        <div class="sidebar-brand-text mx-3" >MANAGER<sup></sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      
      <li class="nav-item">
        <a class="nav-link" href="/manager">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
      <li class="nav-item">
          <a class="nav-link" href="/manageremployee">
              <i class="fas fa-envelope"></i>
              <span>Employee</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/managerrequest">
              <i class="fas fa-taxi"></i>
              <span>Request</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="/managerlaporan">
              <i class="fas fa-file-alt"></i>
              <span>Laporan</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
<!-- End of Sidebar ------------------------------------------------------------------------------------------------------------------------------------>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

<!-- Main Content -------------------------------------------------------------------------------------------------------------------------------------->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

<!-- Topbar Navbar ---------------------------------------------------------------------------------------------------------------------------->
          <ul class="navbar-nav ml-auto">
<!-- Nav Item - Alerts ------------------------------------------------------------------------------------------------------------------------>
         
<!-- Nav Item - Messages ---------------------------------------------------------------------------------------------------------------------->
           

            <div class="topbar-divider d-none d-sm-block"></div>

 <!-- Nav Item - User Information ------------------------------------------------------------------------------------------------------------->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${name}"></span>
                <i class="fas fa-user-circle"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
 <!-- End User Information ------------------------------------------------------------------------------------------------------------------------------------>
          </ul>

        </nav>
        <!-- End of Topbar -->
        
<!-- Begin Page Content isi Konten ------------------------------------------------------------------------------------------------------------------------------------------->
        <div class="container-fluid">

          <!-- Page Heading -->
         

       <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Data Laporan Karyawan Mii</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                     <th>No</th>
                      <th>Nama</th>
                      <th>Tipe Penugasan</th>
                      <th>Lampiran</th>
                      <th>Detail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                          <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="#" data-toggle="modal" data-target="#Modal">
                          <i class="fas fa-laptop fa-sm fa-fw mr-2 text-gray-400"></i>
                            Detail
                          </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
<!-- /container-fluid Akhir KONTEN-------------------------------------------------------------------------------------------------------------------------------------------->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  
<!-- Modal Insert-->
        <div class="modal fade" id="tambahModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Laporan</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/save}" method="POST" class="form-horizontal" role="form">
                            <center><label><b>Detail Penugasan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Alamat Penugasan</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tipe Penugasan</label>
                                <div class="col-sm-12">
                                    <select name="idKelas" class="form-control">
                                        <option required value="" text="">-Tipe-</option>
                                        <option required value="" text="">Rapat</option>
                                        <option required value="" text="">Rekrutment</option>
                                    </select>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="input" class="col-sm control-label">Lama Penugasan</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <!-- Line--->
                           <hr color="#ff0000">
                           <center><label><b>Keberangkatan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tanggal Berangkat</label>
                                <div class="col-sm-12">
                                    <input type="date" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Waktu Berangkat</label>
                                <div class="col-sm-12">
                                   <input type="time" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Transportasi</label>
                                <div class="col-sm-12">
                                   <input type="text" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Berangkat</label>
                                <div class="col-sm-12">
                                   <input type="number" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <!-- Line--->
                           <hr color="#ff0000">
                           <center><label><b>Tempat Tinggal</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tempat Tinggal</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Tinggal</label>
                                <div class="col-sm-12">
                                    <input type="number" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                             <hr color="#ff0000">
                             <center><label><b>Kepulangan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Tanggal Pulang</label>
                                <div class="col-sm-12">
                                    <input type="date" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Waktu Pulang</label>
                                <div class="col-sm-12">
                                   <input type="time" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Transportasi</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value=""required=>
                                </div>
                            </div>
                           <div class="form-group">
                                <label for="input" class="col-sm control-label">Biaya Pulang</label>
                                <div class="col-sm-12">
                                   <input type="number" name="#" class="form-control" value=""required>
                                </div>
                            </div>
                           <hr color="#ff0000">
                           <div class="form-group">
                            <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                          </div>  
                           </div>
                           
                        <!-- Tombol simpan -->
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                    </div>

                </div>
            </div>
        </div>
  

<!-- Modal Edit-->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Edit Data Karyawan</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/save}" method="POST" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="">
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="input" class="col-sm control-label">Staus</label>
                                    <!-- Default inline 1-->
                                    <div class="col-sm-12">
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample">
                                        <label class="custom-control-label" for="defaultInline3">Nikah</label>
                                      </div>
                                      <!-- Default inline 2-->
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="defaultInline4" name="inlineDefaultRadiosExample">
                                        <label class="custom-control-label" for="defaultInline4">Belum Nikah</label>
                                      </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Jenis Kelamin</label>
                                    <!-- Default inline 1-->
                                    <div class="col-sm-12">
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="gender1" name="inlineDefaultRadio">
                                        <label class="custom-control-label" for="gender1">Perempuan</label>
                                      </div>
                                      <!-- Default inline 2-->
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="gender2" name="inlineDefaultRadio">
                                        <label class="custom-control-label" for="gender2">Laki-laki</label>
                                      </div>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Role</label>
                                <div class="col-sm-12">
                                    <select name="idKelas" class="form-control">
<!--                                        <option th:each="kelas: ${kelas}"th:value="${kelas.idKelas}" th:text="${kelas.namaKelas}"></option> -->
<!--                                        <option th:each="kelas : ${kelas}" th:value="${kelas.idKelas}" th:text="${kelas.namaKelas}"></option>-->
                                    </select>
                                </div>
                            </div>
                        <!-- Tombol simpan -->
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Simpan</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                    </div>

                </div>
            </div>
        </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <form th:action="@{/logout}" method="POST">
                <input type="submit" class=" btn btn-primary" value="Logout"/>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>
  <script th:src="@{/dist/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- Core plugin JavaScript-->
  <script th:src="@{/dist/vendor/jquery-easing/jquery.easing.min.js}"></script>

  <!-- Custom scripts for all pages-->
  <script th:src="@{/dist/js/sb-admin-2.min.js}"></script>
  
  <!-- Page level plugins -->
  <script th:src="@{/dist/vendor/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/dist/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

  <!-- Page level custom scripts -->
  <script th:src="@{/dist/js/demo/datatables-demo.js}"></script>

</body>

</html>
