<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="icon" type="image/png" th:href="@{/dist/img/tra.png}">
        <title>TRA | Manager</title>

        <!-- Custom fonts for this template-->
        <link th:href="@{/dist/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link th:href="@{/dist/css/sb-admin-2.min.css}" rel="stylesheet"}>

        <!-- Custom styles for this page -->
        <link th:href="@{/dist/vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar --------------------------------------------------------------------------------------------------------------------------------------------->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/manager">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-plane"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3" >MANAGER<sup></sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/manager">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Tables -->
                <li class="nav-item">
                    <a class="nav-link" href="/manageremployee">
                        <i class="fas fa-envelope"></i>
                        <span>Employee</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managerrequest">
                        <i class="fas fa-taxi"></i>
                        <span>Request</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/managerlaporan">
                        <i class="fas fa-file-alt"></i>
                        <span>Laporan</span></a>
                </li>
               
                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- End of Sidebar ------------------------------------------------------------------------------------------------------------------------------------>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -------------------------------------------------------------------------------------------------------------------------------------->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Navbar ---------------------------------------------------------------------------------------------------------------------------->
                        <ul class="navbar-nav ml-auto">
                            <!-- Nav Item - Alerts ------------------------------------------------------------------------------------------------------------------------>

                            <!-- Nav Item - Messages ---------------------------------------------------------------------------------------------------------------------->


                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information ------------------------------------------------------------------------------------------------------------->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:text="${name}"></span>
                                    <i class="fas fa-user-circle"></i>
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>
                            <!-- End User Information ------------------------------------------------------------------------------------------------------------------------------------>
                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content isi Konten ------------------------------------------------------------------------------------------------------------------------------------------->
                    <div class="container-fluid">

                        <!-- Page Heading -->
<!--                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#tambahModal">
                                <i class="fas fa-folder-plus fa-sm text-white-50"></i> Surat Penugasan</a>
                        </div>-->

                        <!-- DataTales Example -->
                        <form th:action="@{/sendmanagersurat}" method="POST" class="form-horizontal" role="form" th:object="${empById}" enctype="multipart/form-data">
                            <center><label><b>Detail Penugasan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" name="id" th:value="*{id}" class="form-control" value="" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" name="name" th:value="*{name}" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="text" name="email" th:value="*{email}" class="form-control" value=""required>
                                </div>
                            </div>
<!--                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Subjek</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required>
                                </div>
                            </div>-->
<!--                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Body</label>
                                <div class="col-sm-12">
                                    <textarea name="text" class="form-control" placeholder="Type in your message" rows="5"></textarea>
                                </div>
                            </div>-->
                            <hr color="#ff0000">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01" name="files">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>  
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /container-fluid Akhir KONTEN-------------------------------------------------------------------------------------------------------------------------------------------->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2019</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>


        <!-- Modal Insert-->
        <div class="modal fade" id="tambahModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Surat Penugasan</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/save}" method="POST" class="form-horizontal" role="form">
                            <center><label><b>Detail Penugasan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" name="id" class="form-control" value="" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" name="name" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="text" name="email" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Subjek</label>
                                <div class="col-sm-12">
                                    <input type="text" name="#" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Body</label>
                                <div class="col-sm-12">
                                    <textarea name="text" class="form-control" placeholder="Type in your message" rows="5"></textarea>
                                </div>
                            </div>
                            <hr color="#ff0000">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>  
                            </div>
                    </div>

                    <!-- Tombol simpan -->
                    <div class="form-group">
                        <div class="col-sm-12 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Submit</button>
                        </div>
                    </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                </div>

            </div>
        </div>



        <!-- Modal Edit-->
        <div class="modal fade" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color:#6495ED"><b>Surat Penugasan</b></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form th:action="@{/sendmanagersurat}" method="POST" class="form-horizontal" role="form">
                            <center><label><b>Detail Penugasan</b></label></center>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Subjek</label>
                                <div class="col-sm-12">
                                    <input type="text" name="subject" id="letSubject" class="form-control" value="" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">NIK</label>
                                <div class="col-sm-12">
                                    <input type="text" name="id" id="letEmpId" class="form-control" value="" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Nama</label>
                                <div class="col-sm-12">
                                    <input type="text" name="name" id="letEmpName" class="form-control" value=""required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input" class="col-sm control-label">Email</label>
                                <div class="col-sm-12">
                                    <input type="text" name="email" id="letEmpEmail" class="form-control" value=""required>
                                </div>
                            </div>
                            <hr color="#ff0000">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01"
                                               aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>  
                            </div>

                            <!-- Tombol simpan -->
                            <div class="form-group">
                                <div class="col-sm-12 col-sm-offset-2">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-window-close fa-sm fa-fw mr-2 text-gray-400"></i>Close</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form th:action="@{/logout}" method="POST">
                        <input type="submit" class=" btn btn-primary" value="Logout"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script th:src="@{/dist/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/dist/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- Core plugin JavaScript-->
        <script th:src="@{/dist/vendor/jquery-easing/jquery.easing.min.js}"></script>

        <!-- Custom scripts for all pages-->
        <script th:src="@{/dist/js/sb-admin-2.min.js}"></script>

        <!-- Page level plugins -->
        <script th:src="@{/dist/vendor/datatables/jquery.dataTables.min.js}"></script>
        <script th:src="@{/dist/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

        <!-- Page level custom scripts -->
        <script th:src="@{/dist/js/demo/datatables-demo.js}"></script>

        <<script>
            $(document).ready(function () {
                $('.eBtn').on('click', function () {
                    var row = $(this).closest('tr');
                    var a = row.find('td:eq(1)').text();
                    var b = row.find('td:eq(2)').text();
                    var c = row.find('td:eq(3)').text();
                    var d = row.find('td:eq(4)').text();
                    //            var e = row.find('td:eq(5)').text();
                    //                    alert(a+b+c+d);
                    $('#editModal').modal();
                    $('#letSubject').val(a);
                    $('#letEmpId').val(b);
                    $('#letEmpName').val(c);
                    $('#letEmpEmail').val(d);
                });
            });
        </script>

    </body>

</html>
